name: Java CI
on: [push, pull_request]
jobs:
  unittest:
    name: setup demoapp and run unit tests
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.0.0
      - name: explore file system
        run: |
          ls -lisah
          pwd
          if command -v tree; then tree; fi
      - name: run unittests
        run: ./gradlew clean test
